<form role="form">
  <div class="form-group">
    <label for="title" class="control-label">Title</label>
    <input type="text" ng-model="favorite.title" class="form-control" id="title" placeholder="Enter the favorite title"/>
  </div>
  <div class="form-group">
    <label for="title" class="control-label">URL</label>
    <input type="text" ng-model="favorite.url" class="form-control" id="title" placeholder="Paste URL in here"/>
  </div>
  <input type="submit" class="btn btn-primary" ng-click="saveFavorite()" value="Save">
</form>
