.container
  .jumbotron
    %h1 FAVEREST!
    %p All your favorite interests in one place.!

#favs.transitions-enabled
  - @favs.each do |fav|
    .box.panel.panel-default
      = link_to (image_tag fav.photo_url), fav
      .panel-body
        %h2= link_to fav.title, fav
