%h1= @fav.title
= image_tag @fav.photo_url
%p= @fav.description
%p= @fav.category
Faved by
=link_to "Back", root_path
=link_to "Edit", edit_fav_path
=link_to "Delete", fav_path, method: :delete, data: { confirm: "Are you sure?" }
